.container {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}
.selects {
  display: flex;
  justify-content: space-between;
}
.selects mat-form-field {
  width: 300px;
}
.table-row {
  display: flex;
  justify-content: left;
}
.constraints {
  display: flex;
}
.table-row p {
  display: inline-block;
  margin-top: auto;
  margin-bottom: auto;
}
plotly-plot {
  width: 100%;
}
